.imageStyle {
  align-content: center;
  justify-content: center;
  margin: auto;
}

.buttonStyle {
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
  /* border: 3px solid green; */
}

/* style={{ height: "40%", width: "80%" }} */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: "40%";
  width: "80%";
}
